.products-table{
    width: 96%;
    margin: 2%;
}

.id-width-header {
    width: 10%;
    text-align: center;
}

.title-width-header {
    width: 40%;
    text-align: center;
}

.price-width-header {
    width: 15%;
    text-align: center;
}

.actions-width-header {
    width: 35%;
    text-align: center;
}