<input type="text" [(ngModel)]="title">
{{ title }}

<input type="text" [(ngModel)]="numero">
{{ numero | exponential }}

<div *ngIf=" title === 'user1' ">
  Este es User1
</div>
<div *ngIf=" title === 'user2' ">
  Este es un User2
</div>
<div *ngIf=" title === 'user3' ">
  Este es un User3
</div>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'user1'">This is User1</p>
  <p *ngSwitchCase="'user2'">This is User2</p>
  <p *ngSwitchCase="'user3'">This is User3</p>
  <p *ngSwitchDefault>This is not a User</p>
</div>

<br><br>

<div *ngIf="title === developerVorname; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>Sie haben den Vorname geschrieben</ng-template>
<ng-template #elseBlock>Sie haben den Vorname nicht geschrieben</ng-template>

<br><br>
<button (click)="addItem()">Add item</button>

<ul>
  <li *ngFor="let i of items">
    {{ i }}
  </li>
</ul>

<ul>
  <li *ngIf="obst.length === 0">La lista esta vacia</li>
  <li *ngFor="let einObst of obst; index as i">
    {{einObst}} {{ i }}
    <button (click)="deleteItem(i)">Delete item</button>
  </li>
</ul>

<!--Solo se pueden iterar arrays-->
<div class="product-grid">
  <app-product 
      *ngFor="let product of products" 
      (productClicked)="clickProduct($event)" 
      [product]="product"></app-product>
</div>